/* .bg-accent{ */
/* 	background: #303030 !important; */
/* } */
.game_container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-controls{
	display:flex;
  justify-content: center;
  align-items: center;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_container button{
  width: 125px;
  height: 125px;
}

.button-group-container {
  margin: 1rem 0 1rem 0;
}

.button-group-container img{
  width: 125px;
  height: 125px;
}

::ng-deep .mat-button-toggle-checked {
  background-color: var(--light-gray) !important; /* your desired color */
  color: white;
}

.rotate-once {
  animation: rotateOnce 0.6s ease-out;
}

@keyframes rotateOnce{
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.help-message {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

.help-message p {
  font-size: 20px;
}

.card_group{
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.image-card{
	width: 200px;
  height: auto;
  padding: 0;
}

@media (max-width: 700px) {
  .help-message {
    font-size: 0.95rem;
    padding: 0.75rem;
  }

  .image-card{
    width: 150px;
    height: auto;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .help-message {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .image-card{
    width: 75px;
    height: auto;
    padding: 0;
  }
}
