/*
 * SPDX-FileCopyrightText: 2025 Çınar Doruk
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.teacher-page-content{
	max-width: 1280px;
  margin: 0 auto;
}

.diceTableTopHeader{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;

	max-width: 1280px;
  width: 100%;
}

.diceTableTopHeader .subheader{
  font-size: 20px;
}

.diceTableTopHeader button{
  color:white;
  background:none;
  border: none;
}

.diceTableTopHeader button:hover{
  cursor: pointer;
  color: var(--mat-warn);

}

.diceTableTopHeader button:disabled{
  cursor: pointer;
  color: black;
}

.disabled-icon{
	color:black;
}

.row-image{
  width:50px;
  height:auto;
}

.controls{
	display:flex;
}
