
<!-- <button (click)="openDialog()"> -->
<!--   <mat-icon>web_asset</mat-icon> -->
<!-- </button> -->
<!-- <form (ngSubmit)="addDie()"> -->
<!--     <input [(ngModel)]="newDie.name" name="name" placeholder="Name" required> -->

<!--     <input type="text" [value]="selectedFileName" placeholder="file name" readonly> -->

<!--     <!-1- single file upload -1-> -->
<!--     <input type="file" #fileInput accept=".svg" (change)="onFileSelected($event)" hidden> -->
<!--     <button type="button" (click)="fileInput.click()"> -->
<!--         <mat-icon>upload_file</mat-icon> -->
<!--     </button> -->

<!--     <!-1- multi file upload -1-> -->
<!--     <input type="file" multiple #multiFileInput accept=".svg" (change)="onMultiFileSelected($event)" hidden> -->
<!--     <button type="button" (click)="multiFileInput.click()"> -->
<!--         <mat-icon>drive_folder_upload</mat-icon> -->
<!--     </button> -->
<!--     <button type="submit"> -->
<!--         <mat-icon>add</mat-icon> -->
<!--         <!-1- Add Die -1-> -->
<!--     </button> -->
<!-- </form> -->

<div class="diceTableTopHeader">
  <div class="subheader">
    Dice
  </div>

  <div class="controls">

    <button type="" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>

    <button (click)="deleteSelectedDice()">
        <mat-icon>delete</mat-icon>
    </button>
    <!-- open edit popup -->
    <!-- <button (click)="deleteDie(die.id)"> -->
    <!--     <mat-icon>delete</mat-icon> -->
    <!-- </button> -->
  </div>

</div>

<table mat-table [dataSource]="dice" class="mat-elevation-z8" *ngIf="dice.length">

    <ng-container matColumnDef="selected">
        <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
        >
        </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let die">
        <mat-checkbox [(ngModel)]="die.checked">
        </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>Icon</th>
        <td mat-cell *matCellDef="let die">
            <img class="row-image" src="{{currentUrl}}{{ die.svgPath }}">
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let die">{{die.name}}</td>
    </ng-container>

    <ng-container matColumnDef="svgPath">
        <th mat-header-cell *matHeaderCellDef>SVG Path</th>
        <td mat-cell *matCellDef="let die">{{die.svgPath}}</td>
    </ng-container>

    <!-- header and row declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
