
.teacher-page-content{
	max-width: 1280px;
  margin: 0 auto;
}

.diceTableTopHeader{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;

	max-width: 1280px;
  width: 100%;
}

.diceTableTopHeader .subheader{
  font-size: 20px;
}

.diceTableTopHeader button{
  color:white;
  background:none;
  border: none;
}

.diceTableTopHeader button:hover{
  cursor: pointer;
}

.disabled-icon{
	color:black;
}


.row-image{
  width:50px;
  height:auto;
}

.controls{
	display:flex;
}
