
.teacher-page-content{
	max-width: 1280px;
  margin: 0 auto;
}

.diceTableTopHeader{
  display: flex;
  justify-content: space-between;

}

.diceTableTopHeader .subheader{
  font-size: 25px;
}

.diceTableTopHeader button{
  color:white;
  background:none;
  border: none;
}

.diceTableTopHeader button:hover{
  cursor: pointer;
}

.disabled-icon{
	color:black;
}


.row-image{
	color:white;
  fill: white;
  stroke: white;
}
