<!--
SPDX-FileCopyrightText: 2025 Çınar Doruk

SPDX-License-Identifier: AGPL-3.0-only
-->

<mat-toolbar class="top-toolbar">
  <div class="toolbar-content">
      <a class="toolbar-title"
         [routerLink]="['']"
         (click)="showHelp()">
        <span >TaleToss</span>
      </a>

      <span class="example-spacer"></span>

      <div class="toolbar-icon">
        <mat-icon (click)="showHelp()">help</mat-icon>
      </div>

      <div  *ngIf="showWhichButtons['teacher']">
        <a
          class="toolbar-icon"
          (click)=goToTeacherPage()>
          <mat-icon>edit</mat-icon>
        </a>
      </div>

      <div *ngIf="showWhichButtons['game']">
        <a
          class="toolbar-icon"
          [routerLink]="['']">
            <mat-icon (click)="showHelp()">casino</mat-icon>
        </a>
      </div>

      <div *ngIf="!isLoggedIn">
        <a
            [routerLink]="['/login']"
            class="login-button"
            aria-label="button with login icon">
          <mat-icon>login</mat-icon>
        </a>
      </div>

      <div *ngIf="isLoggedIn">
        <button
          mat-icon-button
          (click)="onLogout()"
          class="logout-button"
          aria-label="button with logout icon">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
  </div>
</mat-toolbar>

<router-outlet>
</router-outlet>
