<h2 mat-dialog-title>upload files</h2>
<mat-dialog-content>

  <p-fileUpload
      name="files"
      [customUpload]="true"
      [multiple]="true"
      [auto]="false"
      accept=".svg"
      chooseLabel="Choose SVG"
      (onSelect)="onFileSelect($event)"
      (onRemove)="onFileRemove()"
      (onClear)="onClear"
      (onUpload)="addDie()"
      maxFileSize="1000000">
    <ng-template pTemplate="content">
      <ul *ngIf="selectedFiles && selectedFiles.length > 0">
        <li *ngFor="let file of selectedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileUpload>
</mat-dialog-content>
