.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin: 20px auto 0 auto;

}

.form-fields{
	display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-fields {

}

.login_buttons{
	display: flex;
  justify-content: space-between;
}

.login_buttons button{
  width: 85px;
}
